.container {
	position: relative;
	margin-top: 10px;
	width: 500px;
	height: 130px;
	display: flex;
	border: solid 1px black;
	border-radius: 5px;
	animation: exist 1s;
}
@keyframes exist {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.link {
	text-decoration: none;
	color: inherit;
}
.info {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.cart_img {
	background-color: white;
	height: 120px;
	margin: 4px 4px 6px 10px;
}
.name {
	font-size: 17px;
	color: coral;
}
.delete {
	width: 90px;
	height: 40px;
	background-color: rgb(25, 169, 169);
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
